.container {
  min-height: 100vh;
  background: #eee;
  background-color: #0f2026;
  padding: 30px;
}

.button-container {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  margin-bottom: 30px;
}

.title-page {
  font-family: 'Mantinia', serif;
  font-size: 52px;
  /* color: #eee; */
  color: #C9B76B;
  text-align: center;
  margin: 20px auto;
}

/* .title-page strong {
  color: #e20613;
} */

.border-image {
  margin: 30px auto;
  max-width: 100%;
  display: block;
}

.footer-image {
  margin-top: 60px;
  display: block;
  margin-inline: auto;
}